hr {
    color: sienna;
}

p {
    margin-left: 20px;
}

body {
    background-image: url("../image/scene09.png");
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
    background-size: cover;
    background-color: rgba(0.0, 0.0, 0.0, 0.4);
}

#title {
    color: black;
    font-family: sans-serif;
    font-size: 80px;
    width: 450px;
    margin-left: 38%;
}

#name {
    font-size: 20px;
    width: 200px;
    margin-left: 45%;
}

#tech {
    background-image: url("../image/scene06.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 220px;
    height: 132px;
    background-color: blue;
    border-style: outset;
    position: absolute;
    top: 60%;
    left: 7%;
}

#life {
    background-image: url("../image/scene07.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 220px;
    height: 132px;
    background-color: yellow;
    border-style: outset;
    position: absolute;
    top: 60%;
    left: 40%
}

#dream {
    background-image: url("../image/scene08.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 220px;
    height: 132px;
    background-color: violet;
    position: absolute;
    border-style: outset;
    top: 60%;
    right: 7%
}

#time {
    position: absolute;
    border-style: outset;
    top: 95%;
    right: 0%
}