body {
    /*background-image: url("../image/scene10.png");*/
    background-color: rgb(220, 227, 243);
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
    background-size: cover;
}

#title {
    font-size: 30px;
    width: 300px;
    height: 80px;
    position: absolute;
    top: 5%;
    left: 40%;
}

#module1 {
    background-image: url("../image/kun.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 350px;
    height: 150px;
    border: none;
    outline: none;
    position: absolute;
    top: 40%;
    left: 15%;
}

#module2 {
    background-image: url("../image/scene06.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 350px;
    height: 150px;
    border: none;
    outline: none;
    position: absolute;
    top: 40%;
    left: 55%;
}

#module3 {
    background-image: url("../image/scene06.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 350px;
    height: 150px;
    border: none;
    outline: none;
    position: absolute;
    top: 75%;
    left: 15%;
}

#module4 {
    background-image: url("../image/scene06.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 350px;
    height: 150px;
    border: none;
    outline: none;
    position: absolute;
    top: 75%;
    left: 55%;
}